output "AOC Q27G2WG4" {
    mode "2560x1440@144"
    position x=3840 y=0
    variable-refresh-rate on-demand=true
}

input {
    keyboard {
        xkb {
            layout "de"
        }
        repeat-delay 600
        repeat-rate 20
        track-layout "global"
    }
    touchpad {

    }
    mouse {
        accel-speed 0.5
        accel-profile "flat"

    }
}

binds {
      Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
      Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }

    Mod+Left {focus-column-left; }
    Mod+Right {focus-column-right; }

 }
